<!--
 * @Author: Raiz
 * @since: 2020-07-31 14:47:07
 * @lastTime: 2020-08-06 17:30:10
 * @LastEditors: Raiz
 * @Description:
-->
<template>
  <el-container style="height:100%;">
    <div v-if="showTree">
      <left-tree
        :left-side-data="leftSideData"
        @submitSearch="search"
      />
    </div>
    <div>
      <form-table
        :search-form-data="searchFormData"
        :table-data="tableData"
        :table-column-data="tableColumnData"
      />
    </div>
  </el-container>
</template>
<script>
import LeftTree from '@/components/leftTree'
import FormTable from '@/components/formTable'
import {queryBillTypeTree} from '@/api/billType/billType'
export default {
  components: {
    LeftTree,
    FormTable
  },
  data() {
    return {
      defaultData: [
        {
          'id': 1,
          'name': '角色模块',
          'parentId': 0,
          'level': 0,
          'seq': 0,
          'routeName': 'test',
          'componentPath': '/test',
          'path': '/role',
          'menuTree': [],
          'menuList': [
            {
              'id': 1,
              'menuName': '添加',
              'menuUrl': '/user/add',
              'menuParam': 'ADD',
              'moduleId': 1,
              'createdTime': null,
              'updateTime': '2020-07-31 13:41:08'
            },
            {
              'id': 2,
              'menuName': '删除',
              'menuUrl': '/user/delete',
              'menuParam': 'DELETE',
              'moduleId': 1,
              'createdTime': null,
              'updateTime': '2020-07-31 13:41:12'
            },
            {
              'id': 3,
              'menuName': '修改',
              'menuUrl': '/user/update',
              'menuParam': 'UPDATE',
              'moduleId': 1,
              'createdTime': null,
              'updateTime': '2020-07-31 13:41:16'
            }
          ]
        },
        {
          'id': 2,
          'name': '用户模块',
          'parentId': 0,
          'level': 0,
          'seq': 1,
          'routeName': '',
          'componentPath': '',
          'path': '/user',
          'menuTree': [
            {
              'id': 3,
              'name': '第三模块',
              'parentId': 2,
              'level': 1,
              'seq': 0,
              'routeName': '',
              'componentPath': '',
              'path': '',
              'menuTree': [
                {
                  'id': 4,
                  'name': ' 第四模块',
                  'parentId': 3,
                  'level': 2,
                  'seq': 0,
                  'routeName': '',
                  'componentPath': '',
                  'path': '',
                  'menuTree': [
                    {
                      'id': 5,
                      'name': '第五模块',
                      'parentId': 4,
                      'level': 3,
                      'seq': 0,
                      'routeName': '',
                      'componentPath': '',
                      'path': '',
                      'menuTree': [],
                      'menuList': [
                        {
                          'id': 4,
                          'menuName': '查询dddddddddddddddddd',
                          'menuUrl': '/user/query',
                          'menuParam': 'QUERY',
                          'moduleId': 5,
                          'createdTime': null,
                          'updateTime': '2020-07-31 16:06:31'
                        },
                        {
                          'id': 5,
                          'menuName': '测试',
                          'menuUrl': '/test',
                          'menuParam': 'test',
                          'moduleId': 5,
                          'createdTime': '2020-07-28 09:12:38',
                          'updateTime': '2020-07-31 16:06:32'
                        },
                        {
                          'id': 6,
                          'menuName': '权限',
                          'menuUrl': '/xixi',
                          'menuParam': 'xixi',
                          'moduleId': 5,
                          'createdTime': '2020-07-28 10:53:43',
                          'updateTime': '2020-07-31 16:06:33'
                        }
                      ]
                    }
                  ],
                  'menuList': []
                }
              ],
              'menuList': []
            }
          ],
          'menuList': []
        }
      ],
      leftSideData: {
        showSearch: true,
        key: 'id',
        treeProp: {
          children: 'children',
          label: 'name'
        },
        showCheckBox: false,
        showTreeData: []
      },
      showTree: false,
      searchFormData: [
        {
          label: '机打开票',
          prop: 'jidakaipiao',
          type: 'select',
          options: [
            {
              value: 1,
              label: '方式一'
            },
            {
              value: 2,
              label: '方式二'
            }
          ]
        },
        {
          label: '名称',
          prop: 'name',
          type: 'input'
        }
      ],
      tableData: {
        headButtonData: [
          {
            name: '添加',
            type: 'primary',
            icon: 'el-icon-plus'
          }
        ],
        bodyData: [{ id: 1, username: 'admin', disable: 0 }, { id: 2, username: 'root', disable: 0 },
          { id: 3, username: '小明', disable: 0 }, { id: 4, username: '小红', disable: 0 },
          { id: 1, username: 'admin', disable: 0 }, { id: 2, username: 'root', disable: 0 }]
      },
      // 表格列配置
      tableColumnData: {
        select: false,
        column: [
          {
            prop: 'username',
            label: '用户名'
          },
          {
            prop: 'disable',
            label: '账户状态'
          },
          {
            prop: '123',
            label: '属性2'
          },
          {
            prop: '1123',
            label: '属性3'
          },
          {
            prop: '1231231',
            label: '属性2'
          },
          {
            prop: '1112323',
            label: '属性3'
          },
          {
            prop: '12113',
            label: '属性2'
          },
          {
            prop: '112223',
            label: '属性3'
          },
          {
            prop: '1231131231231',
            label: '属性2'
          },
          {
            prop: '1112123123323',
            label: '属性3'
          },
          {
            prop: '12112312312313',
            label: '属性2'
          },
          {
            prop: '123123',
            label: '属性3'
          }
        ],
        operation: [
          {
            permission: ['default'],
            type: 'danger',
            name: '删除',
            hideName: true,
            icon: 'el-icon-delete',
            circle: true
          },
          {
            permission: ['default'],
            type: 'primary',
            name: '编辑',
            hideName: true,
            icon: 'el-icon-edit',
            circle: true
          }
        ],
        showTag: {
          props: ['disable'],
          tagType: {
            disable: {
              '1': 'danger',
              '0': 'success'
            }
          }
        },
        reData: {
          props: ['disable'],
          newData: {
            disable: {
              '0': '启用',
              '1': '禁用'
            }
          }
        },
        emptyText: '暂无数据'
      }

    }
  },
  mounted() {
    this.transfer(this.defaultData, this.leftSideData.showTreeData)
    this.showTree = true
    queryBillTypeTree()
  },
  methods: {
    transfer(item, treeData) {
      item.forEach((element, key) => {
        treeData[key] = {
          id: element.id,
          name: element.name,
          children: []
        }
        if (element.menuTree.length === 0 && element.menuList.length > 0) {
          const menuList = []
          element.menuList.forEach(menu => {
            const temp = {
              id: menu.id,
              name: menu.menuName
            }
            menuList.push(temp)
          })
          treeData[key].children = menuList
        } else if (element.menuTree.length > 0 && element.menuList.length === 0) {
          this.transfer(element.menuTree, treeData[key].children)
        } else {
          return
        }
      })
    },
    getCheckedKeys() {
      const checkedKeys = this.$refs.tree.getCheckedKeys(true)
      console.log(checkedKeys)
      return checkedKeys
    },
    search(param) {
      console.log(param)
    }
  }
}
</script>
<style scoped>
</style>
