<!--
 * @Author: yyd
 * @since: 2019-05-19 10:10:06
 * @lastTime: 2020-08-07 09:45:08
 * @LastEditors: Raiz
 * @Description: 
--> 
<script>
import billType  from './views/index'
export default {
  name: 'App',
  components: {
    billType
  }
}
</script>
<template>
  <div id="app">
    <billType/>
  </div>
</template>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: left;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
